{{- if .Values.service.createGcpBackendAndFrontendConfig -}}
# Reference: https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-configuration
apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: gofipe-backend-config
spec:
  sessionAffinity:
    affinityType: "GENERATED_COOKIE"
    affinityCookieTtlSec: 50
---
apiVersion: networking.gke.io/v1beta1
kind: FrontendConfig
metadata:
  name: gofipe-frontend-config
spec:
  redirectToHttps:
    enabled: true
    responseCodeName: MOVED_PERMANENTLY_DEFAULT
{{- end -}}
